@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/********************** Eliminating paddings and margins ******************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*************************************************/
html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: hsl(0, 0%, 98%);
}
/******************** Styling the upper part of the page ***********************/
.main-container{
    font-family: 'Poppins', sans-serif;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3% 15%;
}

.promotion, .modules-container>p{
    font-size: 15px;
}

.promotion{
    width: 50%;
}

/********************* Styling the down part of the page ******************************/
.modules-container{
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
    grid-template-rows: repeat(3, 2fr);
    column-gap: 32px;
}

.module{
    background-position: 90% 85%;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 9px;
    padding: 5%;
    width: 100%;
    height: 200px;
}

.supervisor-module{
    background-image: url(images/icon-supervisor.svg);

    /* this position the element on the (2,1) so, its second row, first column*/
    grid-area: 2 / 2;
    justify-self: end;
    border-top: 4px solid hsl(180, 62%, 55%);
}

.teambuilder-module{
    background-image: url(images/icon-team-builder.svg);

    /* 1 / 2 => (1,2) so is first row, second column*/
    grid-area: 1 / 3;
    justify-self: center;
    border-top: 4px solid hsl(0, 78%, 62%);
}

.karma-module{
    background-image: url(images/icon-karma.svg);

    /* 3 / 2 => (3,2) so its the third row and second column*/
    grid-area: 3 / 3;
    justify-self: center;
    border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator-module{
    background-image: url(images/icon-calculator.svg);

    /* 2 / 3 => (2,3) so this is the second row and third column*/
    grid-area: 2 / 4;
    border-top: 4px solid hsl(212, 86%, 64%);
}

.module-description{
    width: 82%;
    font-size: 12px;
}

.module-description, .slogan, .promotion{
    color: hsl(229, 6%, 66%);
}

.title{
    color: hsl(234, 12%, 34%);
}

/***************************** Mobile Styles ***********************************/
@media only screen and (max-width: 750px){
    .modules-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .module{
        margin: 15px auto;
        width: 80%;
    }

    .main-text{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .promotion{
        width: 90%;
    }
}