@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/********************** Eliminating paddings and margins ******************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*************************************************/
html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: hsl(0, 0%, 98%);
}
/******************** Styling the upper part of the page ***********************/
.main-container{
    font-family: 'Poppins', sans-serif;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3% 15%;
}

.promotion, .modules-container>p{
    font-size: 15px;
}

.promotion{
    width: 50%;
}

/********************* Styling the down part of the page ******************************/
.modules-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.module{
    background-position: 90% 85%;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 9px;
    padding: 5%;
    width: 65%;
    height: 100%;
}


.supervisor-module{
    background-image: url(images/icon-supervisor.svg);
/*     justify-self: end;
 */
    /* this position the element on the (2,1) so, its second row, first column*/
    grid-area: 2 / 1;
    justify-self: end;
}


.teambuilder-module{
    background-image: url(images/icon-team-builder.svg);

    /* 1 / 2 => (1,2) so is first row, second column*/
    grid-area: 1 / 2;
    justify-self: center;
}

.karma-module{
    background-image: url(images/icon-karma.svg);

    /* 3 / 2 => (3,2) so its the third row and second column*/
    grid-area: 3 / 2;
    justify-self: center;

}

.calculator-module{
    background-image: url(images/icon-calculator.svg);
/*     justify-self: start;
 */
    /* 2 / 3 => (2,3) so this is the second row and third column*/
    grid-area: 2 / 3;
}

.module-description{
    width: 82%;
    font-size: 12px;
}
